<!DOCTYPE html>
<html>
    <head>
        <title>Server</title>
    </head>

    <body>
        <h1>New User</h1>

        <form id="user_form" method="post" action="/server/add_user/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Create User" />
        </form>
	<br><a href="/server/">Volver</a><br/>
    </body>

</html>
