<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>RatonGato</title>
    </head>

    <body>
        {% csrf_token %}
        <h1>Login User</h1>
            {% if user.is_authenticated %}
                <p>Welcome {{ user.username }} (ID= {{ user.id }})
                    <a href="{% url 'logout_user' %}">logout_out</a></p>
            {% else %}

            <form id="login_form" method="post" action="/server/login_user/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />

                <input type="submit" value="submit" />
            </form>
        {% endif %}
        <a href="/server/index">Index</a>

    </body>
</html>
