<!DOCTYPE html>
<html>
    <head>
        <title>Server</title>
    </head>

    <body>
        <h1>Log in</h1>
	    {% if mensaje_fallo %}
		<h2>{{ mensaje_fallo }}</h2>
            {% endif %}
        <form id="user_login_form" method="post" action="/server/login_user/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Login" />		
        </form>
	<br><a href="/server/">Volver</a><br/>
    </body>

</html>
