<!DOCTYPE html>
<html>
    <head>
        <title>RatonGato</title>
    </head>

    <p>
        <h1>Create Move</h1>
        {% if moveDone %}

            <p>Move created.
                <ul>
                    <li>moveId (origin/target) = {{move.id}} ({{move.origin}}/{{move.target}})</li>
                    <li>gameId = {{game.id}}</li>
                    <li>catUser = {{game.catUser.username}} ({{game.catUser.id}})</li>
                    <li>mouseUser = {{game.mouseUser.username}} ({{game.mouseUser.id}})</li>
                </ul>

        {% elif error %}
                {{ error }}
        {%  else %}
        <form id="user_form" method="post" action="/server/move/">

            {% csrf_token %}
            {{ move_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="move" />
        </form>
        {% endif %}
        <a href="/server/index">Index</a>

    </body>
</html>