<!DOCTYPE html>
<html>
    <head>
        <title>RatonGato</title>
    </head>

    <body>
        <h1>Register User</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/server/">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/server/register_user/">

            {% csrf_token %}
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        <a href="/server/index">Index</a>
        {% endif %}
    </body>
</html>
