<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
  <head>
    <title>Counter Test</title>
  </head>
  <body>
    <h1>Delete Orphan Games</h1>
        you have deleted {{rows_count}} pages <br />
        <a href="/server/index">Index</a>
  </body>
</html>
