<!DOCTYPE html>
<html>
    <head>
        <title>RatonGato</title>
    </head>

    <body>
        <h1>Create Game</h1>
           <p>Welcome {{ user.username }} with id = {{user.id}}<br />
               you have create a game with id = {{game.id}}<br />
               catTurn = {{game.catTurn}} <br />
        <a href="/server/index">Index</a>

    </body>
</html>